body {
  background-image: url(https://img.freepik.com/free-psd/reading-room-old-library-house-generative-ai_587448-1963.jpg?w=996&t=st=1713462416~exp=1713463016~hmac=ed043c7bba3b15a7f92450fcc70162fcd6bbf2a45ddab56599a41f0aad57922f);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  /* Esto asegura que la imagen de fondo ocupe al menos toda la altura de la ventana del navegador */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}